<div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Sign Up</div>
    </div>
    <div class="panel-body">
      <div ng-show="error" class="alert alert-danger col-sm-12">{{error}}</div>
      <form class="form-horizontal" role="form" name="signupForm">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="signup-username" type="text" ng-model='user.username' class="form-control" name="username" placeholder="Username">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="signup-password" type="password" ng-model='user.password' class="form-control" placeholder="Password">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="signup-confirm password" type="password" class="form-control" ng-model='user.confirmPassword'
          name="confirmPassword" match="user.password" placeholder="Confirm Password" match-ignore-empty="true">
        </div>
        <div ng-show="signupForm.confirmPassword.$error.match" class="alert alert-danger col-sm-12">
          Passwords do not match
        </div>
        <div class="form-group">
          <div class="col-sm-12 controls">
            <a id="btn-login" ng-click="signUp()" href='#' class="btn btn-success">Sign Up </a>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 control">
            <div class="form-footer">
              Do you have an account?
              <a href="#/login">Sign In Here</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
