.panel-body{
	padding-top:30px;
}
.input-group{
	margin-bottom: 25px;
}

/*VE styling start*/
.mainbox{
  padding-top: 50px;
}

.panel-info{
  border-color: #0097A7;
}
.panel-info .panel-heading{
  background: #00BCD4;
  border-color: #0097A7;
  color: #FFFFFF;
}
.panel-info .panel-body{
  color: #212121;
}
.panel-default .panel-heading{
  background: #00BCD4;
  border-color: #0097A7;
  color: #FFFFFF;
}

.btn{
  background: #FF5252;
  border-color: #FF5252;  
  color: #FFFFFF;
}
.btn:hover, .btn:focus, .btn:active .btn:active:hover{
  background: #FF8A80;
  border-color: #FF5252; 
}
.btn-success:active:hover, .btn-success:active{
  background: #FF8A80;
  border-color: #FF5252; 
}

.form-control{
  color:#757575
}
.form-footer{
  border-top: 1px solid #0097A7;
  font-size: 100%;
  padding-top:15px; 
  color: #757575;
}

.link{
  color: #FF5252;
}
.link:hover{
  color: #FF8A80;;
}

.alert{
  background-color: #FF8A80;
  border-color: #FF5252;
  color: #212121;
  padding:10px 15px;
}

.navbar-default{
  background: #00BCD4;
  color: #212121;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: #FFFFFF;
}
.navbar-default .navbar-brand{
  color: #212121;
}
.navbar-default .navbar-nav li a{
  color: #FFFFFF;
}
.navbar-default .navbar-nav li a:hover{
  background: #B2EBF2;
  color: #212121;
}
.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus{
  background: #0097A7;
  color: #FFFFFF;
}
.navbar-default .navbar-nav .active a:hover{
  background: #B2EBF2;
  color: #212121;
}

table .table .table-striped{
  border-color: #BDBDBD;
  border-bottom: 14px solid #BDBDBD;
}
thead {
  color: #0097A7;
  font-size: 105%;
}
#entry{
  color: #212121;
  border-bottom: none;
}




/*.table-striped tbody tr:nth-of-type(odd){
  background-color: #B2EBF2;
}*/

/*THIS IS OUR COLOR PALETTE*/
/*.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }*/
