<!-- Add job form -->
<div ng-show="openAddJobForm" class="container-fluid" ng-model="new" ng-submit="addJob()">
  <form class="form-group">
    <div class="row form-row">
      <div class="col-lg-2">
        <label for="company-name">Company name</label>
        <input type="text" class="form-control" id="company-name" ng-model="new.company" required>
      </div>
      <div class="col-lg-2">
        <label for="job-title">Job title</label>
        <input type="text" class="form-control" id="job-title" ng-model="new.jobTitle">
      </div>
      <div class="col-lg-2">
        <label for="job-location">Location</label>
        <input type="text" class="form-control" id="job-location" ng-model="new.location">
      </div>
      <div class="col-lg-2">
        <label for="link">Link to posting</label>
        <input type="text" class="form-control" id="link" ng-model="new.link">
      </div>
      <div class="col-lg-2">
        <label for="interest-level">Interest level</label>
        <select class="form-control" id="interest-level" ng-model="new.interestLevel">
          <option ng-selected="true">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-lg-2">
        <label for="status">Application status</label>
        <select class="form-control" id="status" ng-model="new.status">
          <option ng-selected="true">Not applied</option>
          <option>Applied</option>
          <option>Responded</option>
          <option>Phone screen</option>
          <option>In-person interview</option>
          <option>Offer</option>
          <option>Application rejected</option>
          <option>Not interested</option>
        </select>
      </div>
    </div> <!-- row --> <br>
    <div class="row form-row">
      <div class="col-lg-2">
        <label for="contact-person">Contact person</label>
        <input type="text" class="form-control" id="contact-person" ng-model="new.contactPerson">
      </div>
      <div class="col-lg-2">
        <label for="contact-info">Contact information</label>
        <input type="text" class="form-control" id="contact-info" ng-model="new.contactInfo">
      </div>
      <div class="col-lg-2">
        <label for="date">Date advertised</label>
        <input type="date" class="form-control" id="date" ng-model="new.age">
      </div>
      <div class="col-lg-3">
        <label for="date">Job description/requirements</label>
        <input type="text" class="form-control" id="date" ng-model="new.description">
      </div>
      <div class="col-lg-3">
        <label for="date">Additional notes</label>
        <input type="text" class="form-control" id="date" ng-model="new.notes">
      </div>
    </div> <!-- row --> <br>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-8">
        <button class="btn btn-default" type="submit" ng-click="openAddJobForm = !openAddJobForm">Add to my job list</button>
      </div>
    </div> <!-- row -->
  </form>
</div>