<nav-bar></nav-bar>
<!-- Extra navigation - search bar and add job button -->
<div class="navbar col-lg-12">
  <div class="container">
    <div class="navbar-left">
      <button type="button" class="btn btn-default navbar-btn" ng-click="">Add a job</button>
      </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search job list">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
<!-- Add job form -->
<div>
</div>
<!-- Job list table -->
<div>
   <table class='table'>
     <thead >
       <tr>
         <th>Company</th>
         <th>Title</th>
         <th>Interest</th>
         <th>Status</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat='job in data.jobs'>
         <td>{{job.company}}</td>
         <td>{{job.job_title}}</td>
         <td>{{job.interest_level}}</td>
         <td>{{job.status}}</td>
       </tr>
    </tbody>
  </table>
</div>