<div class="container" ng-model="data">
    <div class="model" id="password_model">
        <div class="model-header">
            <h3>Change Password <span class="extra-title muted"></span></h3>
        </div>
        <div ng-show="passwordError" class="alert alert-danger col-sm-12">
        {{passwordError}}
        </div>

            <div class="control-group">
                <label for="new_password" class="control-label">New Password</label>
                <div class="controls">
                    <input type="password" name="new_password" ng-minlength="6" ng-model="data.password">
                </div>
            </div>
            <div class="control-group">
                <label for="confirm_password" class="control-label">Confirm Password</label>
                <div class="controls">
                    <input type="password" name="confirm_password" ng-minlength="6" ng-model="data.confirmpassword">
                </div>
                <br>
            </div>
        </div>
        <div class="model-footer">
            <button href="#" class="btn btn-default" data-dismiss="model" aria-hidden="true" ng-click='cancel()'>cancel</button>
            <button href="#" class="btn btn-primary" id="password_model_save" ng-click='click()'>Save changes</button>
        </div>
    </div>
</div>