<form name="changePasswordForm" ng-model="changePass">
  <h3>Change Password</h3>
  <br/>
  <div class="input-group">
    <label>Old Password</label>
    <input type="password" ng-model='changePass.oldPassword'
      class="form-control" name="oldPassword" placeholder="Old Password" required>
  </div>

  <div class="input-group">
    <label>New Password</label>
    <input type="password" name="newPassword" ng-model='changePass.newPassword'
      class="form-control" placeholder="New Password" ng-minlength="6" required>
  </div>

  <div class="input-group">
    <label>Confirm New Password</label>
    <input type="password" class="form-control" ng-model='changePass.confirmPassword'
    name="confirmPassword" match="changePass.newPassword" placeholder="Confirm New Password" match-ignore-empty="true" required>
  </div>

  <div ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid" class="alert alert-danger col-sm-12">
    Password must be at least 6 characters.
  </div>

  <div ng-show="changePasswordForm.confirmPassword.$error.match" class="alert alert-danger col-sm-12">
    Passwords do not match.
  </div>

  <div>
    <button type="button" class="btn btn-default" aria-hidden="true" ng-click='cancelPasswordChange()'>Cancel</button>
    <button class="btn btn-default" type="submit">Save</button>
  </div>
</form>
